pipeline {
    agent any

    parameters {
        choice(
            name: 'ACTION',
            choices: ['apply', 'destroy'],
            description: 'Terraform Action'
        )
    }

    environment {
        TF_VERSION       = '1.6.6'
        WORK_DIR         = 'Ingress'
        AWS_DEFAULT_REGION = 'us-east-1'
        TF_STATE_BUCKET  = 'nti-terraform-states-1'
        TF_STATE_KEY     = 'eks/nonprod/terraform.tfstate'
    }

    stages {

        stage('Checkout Code') {
            steps {
                checkout scm
            }
        }

        stage('Terraform Init') {
            steps {
                withCredentials([[
                    $class: 'AmazonWebServicesCredentialsBinding',
                    credentialsId: 'aws_cred'
                ]]) {
                    dir("${WORK_DIR}") {
                        sh '''
                          terraform init \
                            -backend-config="bucket=${TF_STATE_BUCKET}" \
                            -backend-config="key=${TF_STATE_KEY}" \
                            -backend-config="region=${AWS_DEFAULT_REGION}"
                        '''
                    }
                }
            }
        }

        stage('Terraform Plan') {
            when {
                expression { params.ACTION == 'apply' }
            }
            steps {
                withCredentials([[
                    $class: 'AmazonWebServicesCredentialsBinding',
                    credentialsId: 'aws_cred'
                ]]) {
                    dir("${WORK_DIR}") {
                        sh 'terraform plan -out=tfplan'
                    }
                }
            }
        }

        stage('Terraform Apply') {
            when {
                expression { params.ACTION == 'apply' }
            }
            steps {
                withCredentials([[
                    $class: 'AmazonWebServicesCredentialsBinding',
                    credentialsId: 'aws_cred'
                ]]) {
                    dir("${WORK_DIR}") {
                        sh 'terraform apply -auto-approve tfplan'
                    }
                }
            }
        }

        stage('Terraform Destroy') {
            when {
                expression { params.ACTION == 'destroy' }
            }
            steps {
                withCredentials([[
                    $class: 'AmazonWebServicesCredentialsBinding',
                    credentialsId: 'aws_cred'
                ]]) {
                    dir("${WORK_DIR}") {
                        sh 'terraform destroy -auto-approve'
                    }
                }
            }
        }
    }
}
